#!/usr/bin/env bash

## Enable persistent REPL history for `node`.
#export NODE_REPL_HISTORY=~/.node_history;
## Use sloppy mode by default, matching web browsers.
#export NODE_REPL_MODE='sloppy';
#
## Make Python use UTF-8 encoding for output to stdin, stdout, and stderr.
#export PYTHONIOENCODING='UTF-8';

# Increase Bash history size. Allow 32³ entries; the default is 500.
export HISTSIZE='32768';
export HISTFILESIZE="${HISTSIZE}";

# Omit duplicates and commands that begin with a space from history.
export HISTCONTROL='ignoreboth';

# Prefer US English and use UTF-8.
export LANG='en_US.UTF-8';
export LC_ALL='en_US.UTF-8';

# Don’t clear the screen after quitting a manual page.
export MANPAGER='less -X';

# Avoid issues with `gpg` as installed via Homebrew and otherwise.
# https://stackoverflow.com/a/42265848/96656
# ensure that GnuPG (gpg) can interact with the terminal correctly when used in scripts or
# other non-interactive contexts
# important when using GPG for operations that require passphrase input, such as signing
# commits with Git. The GPG_TTY environment variable tells GPG which terminal device to use
# for prompting for passphrases. The $(tty) command outputs the file name of the terminal
# connected to standard input, which is typically what you want GPG to use for passphrase
# prompts.
GPG_TTY=$(tty)
export GPG_TTY

# nnn uses environment variables and symlinks see repo wiki for config, Environment variable NNN_BMS
# Set environment variable NNN_BMS as a string of key_char:location pairs separated by semicolons (;):
# Shows up in help
export NNN_BMS="D:$HOME/Documents;d:$HOME/Downloads/;p:$HOME/projects;P:$HOME/Pictures/Temp-Last100Screenshots/"

# nnn cli filemanger environment variables used to configure usage
export NNN_FIFO=/tmp/nnn.fifo;
export NNN_PLUG='f:finder;o:fzopen;p:mocplay;d:diffs;t:nmount;v:imgview';

#Hide apple's pushing The default interactive shell is now zsh.
#To update your account to use zsh, please run `chsh -s /bin/zsh`.
#For more details, please visit https://support.apple.com/kb/HT208050.
export BASH_SILENCE_DEPRECATION_WARNING=1

export PROMPT_DIRTRIM=2 # Trimming path to desired directories

export CONFIG_DOT_FILES_GIT_COMMAND="/usr/bin/git --git-dir=$HOME/.cfg/ --work-tree=$HOME"

# Set the default editor to Neovim, assuming nvim is in our path
if type nvim >/dev/null 2>&1; then
  EDITOR="nvim"
elif type vim >/dev/null 2>&1; then
  EDITOR="vim"
else
  EDITOR="nano"
fi
export EDITOR
export VISUAL="$EDITOR"

# Make fzf completion nicer
export FZF_COMPLETION_OPTS='--height=50% --reverse --border'

# Change the trigger from ** to, say, .. (so you type ..<TAB> to fuzzy-complete)
# Default is '**'. Keep it if you like.
export FZF_COMPLETION_TRIGGER='..'

