<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.jtroo.kanata</string>

    <key>ProgramArguments</key>
    <array>
      <string>/Users/rudimusmaximus/.config/kanata/sudo_start_kanata.sh</string>
    </array>

    <key>RunAtLoad</key>
    <true/>

    <key>KeepAlive</key>
    <true/>

    <key>StandardOutPath</key>
      <string>/Users/rudimusmaximus/Library/Logs/Kanata/kanata.out.log</string>

    <key>StandardErrorPath</key>
      <string>/Users/rudimusmaximus/Library/Logs/Kanata/kanata.err.log</string>
</dict>
</plist>

