# https://github.com/jesseduffield/lazygit/blob/master/docs/configuration.md
# yaml-language-server: $schema=https://raw.githubusercontent.com/jesseduffield/lazygit/master/schema/config.json

git:
  pagers:
    - colorArg: always
      pager: >
        delta --dark
        --paging=never
        --line-numbers
        --hyperlinks
        --hyperlinks-file-link-format="lazygit-edit://{path}:{line}"

  autoForwardBranches: none

quitOnTopLevelReturn: true

os:
  shellFunctionsFile: ~/.config/lazygit/.shell_startup_file

gui:
  theme:
    selectedLineBgColor:
      - reverse

customCommands:
  # =====================================================================
  #  GIT FLOW NEXT SUPER-MENU (Shift+I)
  # =====================================================================
  - key: "I" # Shift + i
    context: "localBranches"
    description: "Git Flow Next Menu - RCM Edition"
    output: terminal
    prompts:
      - type: "menu"
        title: "Opinionated 'git flow' by Red Crow Methods"
        options:
          # --- BUGFIXES ---
          - name: "Bugfix start (pre-sync develop)"
            description: "git flow bugfix start <name>"
            value: "start_bugfix"
          - name: "Bugfix finish (post-sync develop)"
            description: "merge -> push develop"
            value: "finish_bugfix"
          # --- FEATURES ---
          - name: "Feature start (pre-sync develop)"
            description: "git flow feature start <name>"
            value: "start_feature"
          - name: "Feature finish (post-sync develop)"
            description: "merge -> push develop"
            value: "finish_feature"
          # --- HOTFIXES ---
          - name: "Hotfix start (pre-sync main)"
            description: "git flow hotfix start <version>"
            value: "start_hotfix"
          - name: "Hotfix finish (post-tag & push all)"
            description: "<tag> -> merge -> push main/develop/tags"
            value: "finish_hotfix"
          # --- RELEASES ---
          - name: "Release start (pre-sync develop)"
            description: "git flow release start <version>"
            value: "start_release"
          - name: "Release finish (post-tag & push all)"
            description: "<tag> -> merge -> push main/develop/tags"
            value: "finish_release"
          # --- META ---
          - name: "View config as list"
            description: "View all git flow configuration variables"
            value: "list_all_config"
    # Pass the Action (value) and Current Branch Name to Bun
    command: 'bun run ~/.cfg_bun_script_collection/rcm_git_flow_branching_for_lazygit.mjs "{{index .PromptResponses 0}}" "{{.SelectedLocalBranch.Name}}"'
