# https://github.com/jesseduffield/lazygit/blob/master/docs/configuration.md
# yaml-language-server: $schema=https://raw.githubusercontent.com/jesseduffield/lazygit/master/schema/config.json
# Nov 2025 disregard error on subprocess as schema is out of synch with actual config

git:
  pagers:
    - colorArg: always
      pager: >
        delta --dark --paging=never --line-numbers --hyperlinks --hyperlinks-file-link-format="lazygit-edit://{path}:{line}"

  autoForwardBranches: none
quitOnTopLevelReturn: true
os:
  shellFunctionsFile: ~/.config/lazygit/.shell_startup_file
gui:
  theme:
    selectedLineBgColor:
      - reverse
customCommands:
  # --- Finish Release (Force Editor Strategy) ---
  - key: "F"
    context: "localBranches"
    description: "Finish release (Interactive)"
    # using '>' folds the lines below into one single line separated by spaces
    command: >
      FINISH_RELEASE_MSG_FILE=$(mktemp); nvim "$FINISH_RELEASE_MSG_FILE"; git flow release finish -m "$(cat "$FINISH_RELEASE_MSG_FILE")" {{.SelectedLocalBranch.Name}}; rm "$FINISH_RELEASE_MSG_FILE"

    output: terminal
  # --- Finish Hotfix (Force Editor Strategy) ---
  - key: "H"
    context: "localBranches"
    description: "Finish hotfix (Interactive)"
    command: >
      FINISH_RELEASE_MSG_FILE=$(mktemp); nvim "$FINISH_RELEASE_MSG_FILE"; git flow hotfix finish -m "$(cat "$FINISH_RELEASE_MSG_FILE")" {{.SelectedLocalBranch.Name}}; rm "$FINISH_RELEASE_MSG_FILE"

    output: terminal
